.overflow-y{
    overflow-y: auto;
    overflow-x: hidden;
  }

  p, h1,h2,h3,h4,h5,h6,link,a{
    letter-spacing: 0.5px!important;
  
  }
.logo{
    width: 40px!important;
    height: 40px!important;
}
.hover-primary:hover{
  color: var(--primary)!important;
}
.hover-box-shadow {
    transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
  }
  
.hover-box-shadow:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Customize the box shadow properties */
  }